.table-header {
  padding-left: 40px;
  padding-right: 40px;
}

.table-header-container {
  display: grid;
  grid-template-columns: 300px repeat(4, 1fr);
}

.table-header-name {
  font-family: Open Sans, Arial;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: left;
  color: #224780;
}

.table-header-name:not(:first-child) {
  text-align: center;
}
